img{
    width: 200px;
}
h1{
    text-align: center;
}
span{
    background-color: black;
    color: rgb(255, 187, 0);
    width: 70px;
}
body{
    background-image: url(http://www.hdfondos.eu/pictures/2013/0219/1/orig_404307.jpg);
}